<div class="">
{{#each data as |comment|}}
  <section class="">
    <div class="">
      {{user.username}} on {{created_at}}
    </div>
    <div class="">
      {{comment.comment}}
    </div>
  </section>
{{/each}}
</div>