<section>
  <h2 class="title">create new blog post</h2><hr>

  <form class="">
    <div>
      <label>title:</label>
      <input class="" type="text" id="blog-title" name="blog-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label>content:</label>
      <input class="" id="blog-content" name="blog-content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="button">create post</button>
  </form>
</section>

<script src="./assets/js/addblog.js"></script>