<div class="container">
    <h2>Login Form</h2>
    <form id="login">
        <label>Username (Email):</label>
        <input id="email" type="text" name="email" required>
        <br>
        <label>Password:</label>
        <input id="password" type="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
</div>
<p></p>
<p></p>
<div class="container">
    <h2>Signup Form</h2>
    <form id="signup">
        <label>First Name:</label>
        <input type="text" id="fname" name="fname" required>
        <br>
        <label>Last Name:</label>
        <input type="text" id="lname" name="lname" required>
        <br>
        <label>Username (Email):</label>
        <input type="text" id="email-signup" name="email-signup" required>
        <br>
        <label>Password:</label>
        <input type="password" id="password-signup" name="password-signup" required>
        <br>
        <input type="submit" value="Signup">
    </form>
</div>

<script type="text/javascript" src="/js/login.js"></script>