
{{> single-post data}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <span class="" name="id" hidden>{{data.id}}</span>
  </div>
  <div>
    {{> comment data}}
  </div>
  <div>
    <textarea class="" name="comment-text"></textarea>
    <button class="button" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}



{{#if loggedIn}}
<script type="text/javascript" src="./Assets/js/comment.js"></script>
{{/if}}